/* LandingPage.module.css */

/* Styles for the main container */
.content {
  height: 435vh;
  padding-top: 51px;
}

.getStartedBarBtn {
  /*display: none;*/
  position: fixed;
  width: 170px;
  height: 34px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 22px;
  border: 1px solid white;
  right: 50px;
  top: 13px;
  z-index: 2147483647;
}

.getStartedBarBtn:hover {
  background-image: url("/img/btnHover.png");
  background-size: cover;
}

/* Section 1 elements */
.section1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}

.visualBlock1 {
  position: absolute;
  /*border: 1px solid yellow;*/
  display: flex;
  flex-direction: column;
}

.planetBlock {
  margin-top: 400px;
}

.planetBlock img {
  width: 1250px;
  height: auto;
  /*border: 1px solid green;*/
  margin-left: -230px;
}

.archiButtonBlock {
  /*border: 1px solid blue;*/
  position: absolute;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
  margin-left: 265px;
}

.archiButtonBlock img:first-child {
  margin-bottom: 0;
  height: 330px;
  width: auto;
}

.getStartedBtn {
  width: 260px;
  height: 34px;
  background-color: #EA8363;
  color: white;
  font-weight: 600;
  border-radius: 22px;
  border: none;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
  margin-bottom: 11px;
  animation: fadeInLoad 1s 3s forwards;
  opacity: 0;
}

.getStartedBtn:hover {
  background-image: url("/img/btnHover.png");
  background-size: cover;
}

.haveAccBtn {
  width: 260px;
  height: 34px;
  background-color: #BDD2DE;
  color: #C05F41;
  font-weight: 600;
  border-radius: 22px;
  border: none;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  animation: fadeInLoad 1s 3s forwards;
  opacity: 0;
}

.haveAccBtn:hover {
  background-image: url("/img/btnHover.png");
  background-size: cover;
}

.textBlock1 {
  position: absolute;
  right: 160px;
  margin-top: 160px;
  width: 500px;
  /*border: 1px solid red;*/
  animation: fadeInLoad 1s 3s forwards;
  opacity: 0;
  max-width: 500px;
  width: 50%;
}

@keyframes fadeInLoad {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.textBlock1 p {
  font-size: 18px;
  font-family: 'Baloo 2';
  color: white;
}

.textBlock1 h2 {
  font-family: 'Baloo 2';
  color: white;
  font-weight: 700;
}

.textBlock1 h3 {
  font-family: 'Baloo 2';
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* Section 2 elements */
.section2 {
  position: relative;
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 250px;
  padding-left: 150px;
}

.section2 img:first-child {
  width: 40px;
  height: auto;
}

.textBlock2 {
  width: 570px;
}

.textBlock2 p {
  font-size: 18px;
  font-family: 'Baloo 2';
  color: white;
}

.textBlock2 h2 {
  font-family: 'Baloo 2';
  color: white;
  font-weight: 700;
}

.textBlock2 img {
  width: 160px;
  height: auto;
}

.learnMoreBtn {
  width: 180px;
  height: 34px;
  background-color: #C05F41;
  color: white;
  font-weight: 600;
  border-radius: 22px;
  border: none;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.learnMoreBtn:hover {
  background-image: url("/img/btnHover.png");
  background-size: cover;
}

/* Section 3 elements */
.section3 {
  padding-top: 280px;
  position: relative;
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border: 1px solid yellow;*/
}

.visualBlock2 {
  /* PLACEHOLDER */
  width: 380px;
  height: 300px;
  border-radius: 25px;
  background-color: white;
}

.textBlock3 {
  padding-left: 140px;
  width: 610px;
}

.textBlock3 p {
  font-size: 18px;
  font-family: 'Baloo 2';
  color: white;
}

.textBlock3 h2 {
  font-family: 'Baloo 2';
  color: #EC9C74;
  font-weight: 700;
}

.textBlock3 img {
  width: 160px;
  height: auto;
}


/* Section 4 elements */
.section4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  height: 80vh;
  /*border: 1px solid blue;*/
}

.textBlock4 {
  width: 720px;
  padding-left: 240px;
  padding-top: 160px;
}

.textBlock4 h2 {
  font-family: 'Baloo 2';
  color: white;
  font-weight: 700;
}

.textBlock4 p {
  font-size: 18px;
  font-family: 'Baloo 2';
  color: white;
}

.textBlock4 img {
  width: 160px;
  height: auto;
}

@media (max-width: 1200px) {
  .textBlock1 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .textBlock3 {
    display: none;
  }
}