/* LandingPage.module.css */

/* Styles for the main container */
.content {
  background: url(/img/bg1.png), url(/img/bg2.png), url(/img/bg3.png), url(/img/bg4.png);
  background-position: left -8vh, left 100vh, left 200vh, left 300vh;
  background-repeat: no-repeat;
  background-size: contain;
  /*min-height: 100vh;*/
  height: 410vh;
}


/* Section 1 elements */
.section1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  border: 1px solid;
}

.visualBlock1 {
  position: absolute;
  /*border: 1px solid yellow;*/
  display: flex;
  flex-direction: column;
}

.planetBlock {
  margin-top: 400px;
}

.planetBlock img {
  width: 1250px;
  height: auto;
  /*border: 1px solid green;*/
  margin-left: -230px;
}

.archiButtonBlock {
  /*border: 1px solid blue;*/
  position: absolute;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
  margin-left: 265px;
}

.archiButtonBlock img:first-child {
  margin-bottom: 0;
  height: 330px;
  width: auto;
}

.archiButtonBlock img:nth-child(2) {
  width: 260px;
  height: auto;
  margin-top: 0;
  margin-bottom: 10px;
  animation: fadeInLoad 1s 3s forwards;
  opacity: 0;
}

.archiButtonBlock img:nth-child(3) {
  width: 260px;
  height: auto;
  animation: fadeInLoad 1s 3s forwards;
  opacity: 0;
}

.textBlock1 {
  position: absolute;
  right: 150px;
  margin-top: 200px;
  width: 495px;
  /*border: 1px solid red;*/
  animation: fadeInLoad 1s 3s forwards;
  opacity: 0;
}

@keyframes fadeInLoad {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.textBlock1 h2 {
  font-family: 'Baloo 2';
  color: white;
  font-weight: 600;
}

.textBlock1 h3 {
  font-family: 'Baloo 2';
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* Section 2 elements */

.section2 {
  position: relative;
  padding: 100px;
}

.textBlock2 {

}




.textBlock3 {

}

.textBlock4 {

}

p {
  font-size: 17px;
  font-family: 'Baloo 2';
  color: white;
}

.section3 {
  padding: 200px;
  position: relative;
}

.section4 {
  padding: 300px;
}