/* LandingPage.module.css */

/* Styles for the main container */
.content {
  background: url(/img/bg1.png), url(/img/bg2.png), url(/img/bg3.png), url(/img/bg4.png);
  background-position: left 0%, left 100vh, left 200vh, left 300vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  min-height: 100vh;
  height: 400vh;
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 135vh;
  width: 100vw;
  border: 1px solid;
}

.visualBlock1 {
  position: absolute;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}

.planetBlock {
  margin-top: 400px;
}

.planetBlock img {
  width: 75vw;
  height: auto;
  border: 1px solid green;
}

.archiButtonBlock {
  border: 1px solid blue;
  position: absolute;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 250px;
}

.archiButtonBlock img:first-child {
  margin-bottom: 0;
  height: 350px;
  width: auto;
}

.archiButtonBlock img:nth-child(2) {
  width: 260px;
  height: auto;
  margin-top: 0;
  margin-bottom: 10px;
}

.archiButtonBlock img:nth-child(3) {
  width: 260px;
  height: auto;
}

.textBlock1 {
  position: absolute;
  right: 150px;
  margin-top: 200px;
  width: 500px;
  border: 1px solid red;
  color: white;
}

.textBlock2 {
  color: white;
}

.textBlock3 {
  color: white;
}

.textBlock4 {
  color: white;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.section2 {
  padding: 100px;
}

.section3 {
  padding: 200px;
}

.section4 {
  padding: 300px;
}