/* PasswordResetPage.module.css */

.registrationForm {
    background-color: #FFFFFF;
    color: #C05F41;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    top: 50%;
    left: 2%; /* Align to the left side */
    transform: translateY(-50%); /* Adjust for vertical centering */
    min-width: 620px; /* Prevents form from having a smaller width than children */
    min-height: 600px;
    max-width: 620px;
    height: auto;
    display: flex;
    position: absolute;
    flex-direction: column; /* Stack the children vertically */
    align-items: left; /* Center-align the children to the left */
    flex-shrink: 0; /* Prevents the form from shrinking */
  }

  .header {
    text-align: left; /* Align text to the left for these elements */
    width: 100%; /* Ensure they span the full width of the registrationForm */
    margin-bottom: 10px;
  }
  
  .header h2 {
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .header p {
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 0px;
  }

  /* ----------------Form fields and divs---------------- */

  .inputGroup {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .inputGroup p {
    color: #C05F41;
    font-size: 16px;
  }

  /* Style template for any form input bar */
  .longInput {
    background-color: #F5F5F5; /* Light gray background */
    border: none; /* No border */
    border-radius: 10px !important; /* Rounded corners */
    padding: 10px 15px; /* Padding inside text fields */
    width: 100%; /* Full width minus padding */
    height: 38px;
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 16px; /* Font size similar to the role buttons */
  }
  
  /* ----------------Styles for navigation links to other pages---------------- */

/* Div containing button for submitting form + navigating to either signup/login form */
.navigate {
    position: absolute;
    bottom: 0;
    left: 50%; /* Position the left edge of the inner div in the middle of the outer div */
    transform: translateX(-50%); /* Shift the inner div leftwards by half its width */
    margin-bottom: 50px;
    text-align: center; /* Align children to the center */
  }
  
  .continueButton {
    width: 172px;
    height: 40px;
    background-color: #C05F41;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover */
    margin-bottom: 10px;
  }
  
  .continueButton:hover,
  .continueButton:focus,
  .continueButton.active {
    background-image: linear-gradient(to bottom right, #C05F41, #86AFC7);
    transition: background-color 0.3s; /* Smooth transition for hover */
  }
  
  .loginLink {
    display: block;
    color: #C05F41;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  
  .privacyPolicy {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .privacyPolicy p {
    color: #A09F9F;
    font-size: 12px;
    text-align: center;
  }