/* SignupPage.module.css */

.signupPage {
    background: url(/img/bg.png) no-repeat center center;
    background-size: cover; /* Cover is usually better for full-screen backgrounds */
    width: 100%;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    
  }

  .contentContainer {
    display: flex; /* Enable flex layout */
    flex-direction: row; /* Arrange children in a row */
    align-items: center; /* Vertically center the children */
    justify-content: center; /* Horizontally center the children */
    width: 100%;
  }  
  
  .registrationForm {
    background-color: #FFFFFF;
    color: #C05F41;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 20px;
    top: 60px;
    text-align: left;
    min-width: 620px; /* Prevents form from having a smaller width than children */
    min-height: 600px; 
    width: calc(50% - 40px);
    height: calc(100% - 80px);
    display: relative;
    position: fixed;
    flex-direction: column; /* Stack the children vertically */
    align-items: center; /* Center-align the children horizontally */
    flex-shrink: 0; /* Prevents the form from shrinking */
  }

  .registrationForm h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .registrationForm p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .registrationForm h2,
  .registrationForm p,
  .registrationForm label {
    text-align: left; /* Align text to the left for these elements */
    width: 100%; /* Ensure they span the full width of the registrationForm */
  }

  .formContainer {
    color: black;
    font-size: 20px;
    font-weight: 600;
    width: 100%; /* Full width of the registration form */
    display: flex;
    flex-direction: column; /* Stack the form elements */
    align-items: flex-start; /* Center-align the form elements */
  }
  
  .formGroup {
    color: black;
    font-size: 20px;
    font-weight: 600;
    width: 100%; /* Full width for alignment */
    text-align: left; /* Align text to the left for contents in formGroup */
    display: flex; /* This will allow you to align the label and input side by side */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the start (left side) */
  }
  
  .roleSelection {
    text-align: left;
    display: flex; /* Align buttons in a row */
    justify-content: center; /* Align buttons to the center */
    flex-wrap: wrap; /* Wrap buttons to next line if needed */
    margin-bottom: 30px;
  }

  .firstButton {
    border-left: #C05F41;
    border-top: #C05F41;
    border-bottom: #C05F41;
    border-right: 1px solid #C05F41;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .secondButton {
    border-top: #C05F41;
    border-bottom: #C05F41;
    border-right: 1px solid #C05F41;
    border-left: 1px solid #C05F41;
  }

  .thirdButton {
    border-top: #C05F41;
    border-bottom: #C05F41;
    border-right: #C05F41;
    border-left: 1px solid #C05F41;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .firstButton,
  .secondButton,
  .thirdButton {
    background-color: #F5F5F5;
    width: 164px;
    height: 47px;
    font-size: 16px;
    color: #C05F41;
    margin-top: 5px;
  }
  
  .firstButton:hover,
  .secondButton:hover,
  .thirdButton:hover,
  .firstButton.active,
  .secondButton.active,
  .thirdButton.active {
    background-color: #C05F41; /* Change border color */
    color: white;
  }

  

  .dobInputs {
    display: flex;
    margin-top: 0.5em; /* Add some space between the label and the input fields */
    width: 100%; /* Full width for alignment */
   
  }

  .firstInput {
    border-left: #C05F41;
    border-top: #C05F41;
    border-bottom: #C05F41;
    border-right: 1px solid #C05F41;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .secondInput {
    border-top: #C05F41;
    border-bottom: #C05F41;
    border-right: 1px solid #C05F41;
    border-left: 1px solid #C05F41;
  }

  .thirdInput {
    border-top: #C05F41;
    border-bottom: #C05F41;
    border-right: #C05F41;
    border-left: 1px solid #C05F41;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .firstInput,
  .secondInput,
  .thirdInput {
    background-color: #F5F5F5;
    width: 164px;
    height: 47px;
    font-size: 16px;
    color: #C05F41;
    margin-top: 5px;
  }

  .dobInputs input {
    text-align: center;
    background-color: #F5F5F5;
    width: 164px;
    height: 47px;
    font-size: 16px;
    color: #C05F41;
    margin-top: 5px;
  }
  
  .dobInputs input:active {
    border-color: transparent; /* Highlight on focus */
  }

  .navigate {
    position: absolute;
    bottom: 0;
    left: 50%; /* Position the left edge of the inner div in the middle of the outer div */
    transform: translateX(-50%); /* Shift the inner div leftwards by half its width */
    margin-bottom: 70px;
    text-align: center; /* Align children to the center */
  }
  
  .continueButton {
    width: 172px;
    height: 40px;
    background-color: #C05F41;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover */
    margin-bottom: 10px;
  }
  
  .continueButton:hover,
  .continueButton:focus,
  .continueButton.active {
    background-image: linear-gradient(to bottom right, #C05F41, #86AFC7);
    transition: background-color 0.3s; /* Smooth transition for hover */
  }
  
  .loginLink {
    display: block;
    color: #C05F41;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  
  .characterContainer {
    margin-top: 220px;
    margin-left: calc(61vw);
    position: absolute;
    width: calc(100% - 540px);
    min-width: 412px;
    align-items: center; /* Align the character image vertically */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Centers the character image horizontally */
  }
  
  .characterImage {
    max-width: 100%; /* Ensures image does not overflow its container */
    width: 412px;
    min-width: 412px;
    height: auto; /* Maintains the aspect ratio of the image */
  }
  
  .speechBubble {
    align-items: center;
    position: absolute;  /* MUST HAVE for archi img to not shift up */
    max-width: 100%; /* Ensure they do not overflow their container */
    width: 412px;
    height: 80px;
    margin-top: -40px; /* Add spacing below speech bubble */
    top: 0;  /* MUST HAVE for archi img to not shift up */
    left: 0;  /* MUST HAVE for archi img to not shift up */
  }
  /* Hide the speech bubble but keep its space */
  .speechBubbleContainer.hidden .speechBubble {
    display: none;
  }

  .speechBubble p {
    position: absolute;
    top: 40%; /* Center vertically + move up some more */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    width: 285px; /* Take full width of the parent */
    text-align: center;
    white-space: nowrap; /* Ensures the text is in a single line */
    overflow: hidden; /* Prevents text from overflowing */
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
    font-size: 20px;
    font-weight: bold;
    color: #EC9C74;
  }
  
  .speechBubble img {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    max-width: 412px;
    width: 285px;
    height: 80px;
  }
  .textBubbleImage {
    position: absolute;
    max-width: 285px;
    height: 80px;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will prevent scrolling */
    height: 100%;
    width: 100%;
}