.bar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2147483647;
}

.getStartedBarBtn {
    /*display: none;*/
    position: absolute;
    width: 170px;
    height: 34px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 22px;
    border: 1px solid white;
    right: 50px;
    top: 17px;
    z-index: 2147483647;
}

.getStartedBarBtn:hover {
    background-image: url("/img/btnHover.png");
    background-size: cover;
}

